.table {
    display: flex;
    margin: 1rem;
    flex-direction: column-reverse;
    width: auto !important;
    &> :nth-child(odd){
        display:flex; 
      flex-direction: row;
    }
    &> :nth-child(even){
        display:flex; 
      flex-direction: row-reverse;
    }
  }
  .boardGame{
      display: flex;
      flex-direction: row;
  }
  .dice{
    padding-top: 16rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
  }

  .listed-elements{
    display: flex;
    font-size: xx-large;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  //DELETE
  // .close-button {
  //   position: absolute;
  //   border: none;
  //   font-size: 16px; /* Set button font size */
  //   top: 20px;
  //   right: 20px;
  //   border-radius: 50%; /* Make button circular */
  //   width: 40px; /* Set button width */
  //   height: 40px; /* Set button height */
  //   display: flex; /* Make button a flex container */
  //   justify-content: center; /* Center the text horizontally */
  //   align-items: center; /* Center the text vertically */
  //   cursor: pointer;
  // }  
  // .close-button:hover {
  //   background-color: #d32f2f; /* Change background color on hover */
  // }